name: daily

on:
  workflow_dispatch:
  schedule:
    - cron: '15 23 * * *'  # UTC 23:15 = 北京时间 07:15

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.11
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r ./requirements.txt

    - name: dailyMission
      env:
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
        API_KEY: ${{ secrets.API_KEY }}
        APP_ID: ${{ secrets.APP_ID }}
        PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        ADDRESS: ${{ secrets.ADDRESS }}
      run: |
        sleep $((RANDOM % 600))
        python requests_mission_0205.py
